{% extends "base.html" %}
{% block content %}
  <div style="text-align: center;">
    <h2>{{ topic.title }}</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form method="post" style="display: inline-block; text-align: left;">
      {% csrf_token %}
      {{ password_form.as_p }}
      <button type="submit" style="margin-right: 5px; padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer;">認証</button>
    </form>

    <a href="{% url 'board_app:list_topics' %}" style="text-decoration: none; margin-left: 0px;">
      <button style="padding: 10px 20px; font-size: 16px; background-color: #808080; color: white; border: none; border-radius: 4px; cursor: pointer;">戻る</button>
    </a>
  </div>
{% endblock %}
