{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center;">
    <h2>event編集ページ</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success" style="display: inline-block; margin-top: 10px;">更新</button>
      <a href="{% url 'event_app:event_detail' event_id=event.event_id %}" class="btn btn-secondary" style="display: inline-block; margin-top: 10px;">戻る</a>
    </form>
  </div>
{% endblock %}
