{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message.message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" class="border border-primary p-4 rounded bg-light">
        {% csrf_token %}
        {{ change_password_form.as_p }}
        <button type="submit" class="btn btn-primary btn-block mt-3">パスワードを更新</button>
    </form>
    <a href="{% url 'contactbook_app:edit_page' %}" class="btn btn-secondary btn-block mt-3">戻る</a>
</div>
{% endblock %}
