{% extends 'base.html' %}

{% block content %}
  <div class="text-center" style="margin-top: 20px;">
    <h2>Letter List</h2>

    <a href="{% url 'letter_app:upload_file' %}" class="btn btn-primary" style="float: left; margin-right: 10px;">新しくファイルアップロードする</a> <!-- ボタンを上に移動 -->

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Author</th>
          <th>Upload Date</th> 
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'letter_app:view_file' file.id %}">{{ file.title }}</a></td>
            <td>{{ file.uploaded_by.username }}</td>
            <td>{{ file.upload_date|date:"Y年n月j日 H:i" }}</td> 
            <td>
              <a href="{% url 'letter_app:delete_file' file.id %}" class="btn btn-danger btn-sm">削除</a> 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
